
body{
    font-family: 'Electrolize', sans-serif;
}

h1 span{
    color: orange;
    display: inline;
}
span{
   font-style: italic ;
   display: block;
   text-align: center;
}
img{
    width: 200px;
}